<!-- ko if: $root.isMobileView()-->
<fnd-simple-panel header="Home" profile-width="62px" profile-height="62px" 
                  id="InfoletHome" >
    <div slot="ocaj-simplepanel-content-slot">
        <div data-bind="template: 'HCMinfoletContent'"></div>
    </div>
</fnd-simple-panel>
<!-- /ko -->
<!-- ko if: ! $root.isMobileView()-->
<div data-bind="template: 'HCMinfoletContent'"></div>
<!-- /ko -->


<script id="HCMinfoletContent" type="text/html">
    <div>
        <div id="mobile_masonry" data-bind="ojComponent: {component: 'ojMasonryLayout'}" style="margin: 10px;">
            <div id="infolet-beh" class="oj-masonrylayout-tile-1x1 infolet">
                <div align="center" class="infolet-container">
                    <div class="infolet-header" data-bind="text: 'Team Leads'"></div>
                    <div align="center" style="margin-top: 10px;">
                        <span data-bind="text: 'Total Leads'" ></span>
                        <br />
                        <span style="color: #0079b9; font-size: 20px;" data-bind="text: '21'"></span>
                        <br />
                        <span data-bind="text: 'Converted Leads'" ></span>
                        <br />
                        <span style="color: #EA4F39; font-size: 20px;" data-bind="text:  '7'" style="font-size: 12px;"></span>
                        <br />
                        <span>Age 0 - 3 Months</span>
                    </div>
                </div>
            </div>
            <div id="infolet-myteam" class="oj-masonrylayout-tile-1x1 infolet">
                <a data-bind="click: navigateToMyTeam" href="#">
                    <div align="center" class="infolet-container">
                        <div class="infolet-header" style="margin-bottom: 10px;" data-bind="text: 'My Team'"></div>
                        <div style="width: 40%;float: left;padding-left: 10px;text-align: start; color: #707070;">Meg Fitzimmons</div>
                        <img class="user-image photo-round" style="width: 40px; height: 40px; border-radius: 50%; border: 1px solid #ccc;" src="images/headshot06.png" title="Image" alt="Image">
                        <div class="oj-row font18 marginTopcrm" style="margin-top: 8px;">
                            <div class="oj-col oj-sm-4" style="font-size: 20px; padding-left: 5px; color: #0079b9; float: left; margin-top: -4px;" data-bind="text: '2'"></div>
                            <div class="oj-col oj-sm-8" style="padding-left: 15px; color: #707070; text-align: start; font-size: 14px;" data-bind="text: 'My Kudos'"></div>
                        </div>
                        <div class="oj-row font18 marginTopcrm" style="margin-top: 8px;">
                            <div class="oj-col oj-sm-4" style="font-size: 20px; padding-left: 5px; color: #0079b9; float: left; margin-top: -4px;" data-bind="text: '4'"></div>
                            <div class="oj-col oj-sm-8" style="padding-left: 15px; color: #707070;text-align: start; font-size: 14px;" data-bind="text: 'Team Kudos'"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div id="infolet-myteam" class="oj-masonrylayout-tile-2x1 infolet">
                <div align="center" class="infolet-container">
                    <div class="infolet-header" data-bind="text: 'Install Base'"></div>
                    <div class="oj-row" style="margin-top: 10px;">
                        <div class="oj-sm-4 oj-col" align="center" style="display: inline-block;">
                            <div class="bold installBasePieTitle" data-bind="text: 'Products'"></div>
                            <img data-bind="attr: {src : 'images/infolets/bar1.png'}" style="width: 80px;"/>
                            <div class="installBasePieChart" data-bind="text: '# of Assets'"></div>
                        </div>
                        <div class="oj-sm-4 oj-col" align="center" style="display: inline-block;">
                            <div class="bold installBasePieTitle" data-bind="text: 'Consumer'"></div>
                            <img data-bind="attr: {src : 'images/infolets/bar2.png'}" style="width: 80px;"/>
                            <div class="installBasePieChart" data-bind="text: '# of Assets'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="infolet-myteam" class="oj-masonrylayout-tile-1x1 infolet">
                <div align="center" class="infolet-container">
                    <div class="infolet-header" data-bind="text: 'Service Requests'"></div>
                    <div align="center" class="textAlignLeft underline-on-hover clickableicon installBasePieTitle">
                        <div class="oj-row" style="font-size: 18px; margin-top: 10px;">
                            <div class="oj-col oj-sm-4" style="padding-left: 5px; color: #0079b9; float: left;" data-bind="text: '6'"></div>
                            <div class="oj-col oj-sm-8" style="padding-left: 15px; text-align: start;" data-bind="text: 'Total'"></div>
                        </div>
                        <div class="oj-row font18 marginTopcrm" style="font-size: 18px; margin-top: 8px;">
                            <div class="oj-col oj-sm-4" style="padding-left: 5px; color: red; float: left;" data-bind="text: '2'"></div>
                            <div class="oj-col oj-sm-8" style="padding-left: 15px; text-align: start;" data-bind="text: 'High'"></div>
                        </div>
                        <div class="oj-row font18 marginTopcrm" style="font-size: 18px; margin-top: 8px;">
                            <div class="oj-col oj-sm-4" style="padding-left: 5px; color: red; float: left;" data-bind="text: '4'"></div>
                            <div class="oj-col oj-sm-8" style="padding-left: 15px; text-align: start;" data-bind="text: 'Medium'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="infolet-myteam" class="oj-masonrylayout-tile-1x1 infolet">
                <div align="center" class="infolet-container">
                    <div class="infolet-header" data-bind="text: 'My Vacation'"></div>
                    <div align="center" style="margin-top: 10px;">
                        <div class="normallink" 
                             style="color: #397EBD;-webkit-transition: color 0.3s linear;transition: color 0.3s linear;font-size: 14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" data-bind="text: 'Book Some Holiday'"></div>
                        <br />
                        <span style="font-size: 12px;" data-bind="text: 'Days/Hours Left to Take'"></span>
                        <br />
                        <br />
                        <div class="redbox" style="display: block;
   width: 50px;
   height: 40px;
   border: 1px solid #3f0404;
   border-radius: 5px;
   background-color: rgb(240, 0, 0);
   color: white;
   font-size: 38px;
   line-height: 38px;" data-bind="text: '23'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>