<fnd-simple-panel header="My Team">
<fnd-faceted-search slot="ocaj-simplepanel-content-slot" id="fndfs" facet-list="{{facetData}}" key-attribute="dealId" 
       collection-data-source="{{tableData}}"  collection-data="{{cardCol}}" keyword-search-attribute="dealNumber" suggestion-group-list="{{keywordSearch}}">
   <fnd-card-list-layout slot="facetedSearchResult" id="clcca" service-url = "{{$props.serviceURL}}" page-size="12" 
        default-view="card" key-attribute="{{$props.keyAttribute}}" pagination="false" 
        card-view-template="card" list-view-template="list" table-view-template="table" table-view-rendered="false"
        data-bind="event: {ready: cardListCCAReadyHandler}">
   <div slot="cardList-start-slot">
       <div class="oj-flex oj-flex-items-pad" style="align-items: center;">
           <div class="oj-flex-item oj-sm-5 oj-xl-2 oj-md-2 oj-lg-2" style="max-width: 70px;">
               <button id= "toggleCardFltr"
                data-bind="click: toggleFilter, ojComponent: { component: 'ojButton', label: 'Filters' }">
               </button>
           </div>
           <div class="oj-flex-item oj-sm-2 oj-lg-1 oj-xl-1 oj-md-1" style="max-width: 25px;">
               <span role="separator" style="margin: 0 10px;" aria-orientation="vertical" class="oj-toolbar-separator"></span>
           </div>
           <div class="oj-flex-item oj-sm-5 oj-lg-3 oj-xl-3 oj-md-2" style="padding-right: 0px; max-width: 55px;">
               <img class="user-image photo-round" style="width: 40px; height: 40px; border-radius: 50%; border: 1px solid #ccc;" src="images/headshot06.png" title="Image" alt="Image">
           </div>
           <div class="oj-flex-item oj-sm-only-hide oj-lg-6 oj-md-7 oj-xl-6">
               <div class="text-normal-1 bold largeText">Meg Fitzimmons</div>
                   <div class="text-normal-1 bold smallText cl-ellipsis" style="margin-top: 2px; color: #707070;">10060.Software Development VP</div>
           </div>
       </div>
   </div>
</fnd-card-list-layout>
</fnd-faceted-search>   
    <!-- template for card view -->
    <script id="card" type="text/html">
        <fnd-card-view-layout id="resCardView" data-source = "{{$parent.tableDataSource}}" card-template="card_template" scroll-policy="auto"></fnd-card-view-layout>
    </script>    
    <!-- template for list view -->
    <script id="list" type="text/html">
        <fnd-list-view id="resTable" list-item-title="partyName" sub-title="jobTitle" user-image-path="userImage"
         data-source = "{{$parent.listDataSource}}" columns-list="{{$parent.columnList}}" title-clickable="true"
         key-attribute="partyId" row-selection = "single"></fnd-list-view>
    </script>   
    <!-- template for table view -->   
    <script id="table" type="text/html">
        <fnd-simple-table id="resTableView" data-source = "{{$parent.listDataSource}}" columns-list="{{$parent.tableColumnList}}" 
         sortable="{{ 'enabled' }}" row-selection = "single"></fnd-simple-table>
    </script>    
    <script id="card_template" type="text/html">
        <li data-bind="css:  $parents[2].cardStyleClass()" style="margin:0;border-style:none;">
        <fnd-media-card height="185" width="273" key-attribute="{{$data['partyId']}}"
                        theme="dark" type="simple" user-image-path="{{$data['userImage']}}"
                        card-title="{{$data['partyName']}}" sub-title="{{$data['jobTitle']}}" title-clickable="true">
            <div slot="frontSlot">
                <div>
                    <a class="oj-link linkColor smallText cl-ellipsis" style="margin-bottom: 6px;" data-bind="text: $data.email"></a>
                    <a class="oj-link linkColor smallText cl-ellipsis" style="margin-bottom: 6px;" data-bind="text: '+'+$data['WorkPhonecountryCode']+'-'+$data['WorkPhoneAreaCode']+'-'+$data['WorkPhoneNumber']"></a>
                </div>  
                <div>
                    <div class="text-normal-2 smallText cl-ellipsis" style="margin-top: 2px; margin-bottom: 6px; color: #ADADAD;" data-bind="text: $data.city + ', ' + $data.country"></div> 
                    <div class="text-normal-2  smallText cl-ellipsis" style="margin-bottom: 8px; color: #ADADAD;" data-bind="text: $parents[2].calcTime($data.city)"></div>
                </div>
                <!-- ko ifnot: $data['directs'] === undefined -->
                <a class="oj-link linkColor smallText cl-ellipsis"><img src="images/func_group_16_ena.png">
                    <span style="vertical-align: top;" data-bind="text: $data['directs']+', '+$data['total']"></span></a>
                <!-- /ko -->
            </div>    
            <fnd-form-card slot="backSlot" form-card-attributes = "{{$parents[2].backColumnList}}" row-data="{{$data}}"/>
        </fnd-media-card>
    </li>               
</script>


<div style="display:none" id="contextualActionPopup"
     data-bind="ojComponent:{component: 'ojPopup'}">
    <fnd-contextual-action content-width="{{ pcaContentWidth() }}" content-height="250" image-shape="circle" show-actions-tab="true" show-information-tab="true" show-navigation-tab="true" show-header="true" custom-tab-enabled="false" 
                           default-tab="actions" header-title="{{ headerTitlePCA() }}" image-source="{{ imageSourcePCA() }}">
        <div slot="contextualActionsHeaderSlot">
            <div class="pca-ellipsis" data-bind="text: jobTitlePCA()"></div>
            <div class="pca-link pca-ellipsis" data-bind="text: emailPCA()"></div>
            <div class="pca-ellipsis" data-bind="text: phoneNumberPCA()"></div>
        </div>
        <div slot="contextualActionsInfoContentSlot">
            <div class='oj-flex-bar'>
                <div class='oj-flex-bar-start bold oj-sm-4'>
                        <label for="input" class="oj-label-inline" data-bind="text: 'Account Name'"></label>
                </div>
                <div class='oj-flex-bar-middle oj-sm-8'>
                        <label id="input" class="oj-label-inline"  data-bind="text: accountNamePCA()" 
                       class="cll-ellipsis"></label>
                </div>
            </div>
            <div class='oj-flex-bar'>
                <div class='oj-flex-bar-start bold oj-sm-4'>
                        <label for="email" class="oj-label-inline" data-bind="text: 'Address'"></label>
                </div>
                <div class='oj-flex-bar-middle oj-sm-8'>
                       <label id="input" class="oj-label-inline"  data-bind="text: AddressLine1PCA()+', '+ cityPCA()+ ', ' + countryPCA()  " 
                       class="cll-ellipsis"></label>
                </div>
            </div>
        </div>
        <div slot="contextualActionsActionContentSlot">
            <div class="action-tabs">
                <!-- ko foreach: actionsTabData() -->
                <a class="action-tab" data-bind="click:function(){ $parent.contentSelection($index()) }, text: label, attr: {name : id}, css: $parent.actionTabSelected() === $index() ? 'on' : '' "></a>
                <!-- /ko -->
            </div>
            <div>
                <!-- ko foreach: tabContent() -->
                <div>
                    <a href="#" data-bind="text: label,click: $parent.goToTransferEmployee" class="action-details"></a>
                </div>
                <!-- /ko -->
            </div>  
        </div>
        <div slot="contextualActionsNavigationContentSlot">
            <!-- ko foreach: navigationTabData() -->
            <div class="context-navigation-item">
                <img data-bind="attr: {src : 'css/images/'+iconPath}">
                <a class="oj-link linkColor pca-ellipsis" data-bind="text: label"></a>
            </div>
            <!-- /ko -->    
        </div>
        <div slot="contextualActionsFooterEndContentSlot">
            <i class="person-header-social"></i>
            <i class="person-header-kudos"></i>
            <i class="person-header-share"></i>
        </div>
    </fnd-contextual-action>
</div>
</fnd-simple-panel>

