{{#online}}
<html lang="en">
  <head>
    <title>Oracle - Technical Architecture Openings</title>
{{/online}}
    <style>
{{#online}}
      body {
	     background-image: url("resources/redwood-strip.png");
	     background-repeat: repeat-x;
      }
      table.hiring { 
	     position: absolute;
	     top: 30px;
	     left: 50%;
	     transform: translate(-50%, 0%);
      }
{{/online}}
{{^online}}
      .internal {
         display:none;
      }
{{/online}}
      table.hiring {
{{^online}}
         margin: auto;
{{/online}}
	     font-family: 'Oracle Sans',-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
	     table-layout: fixed;
	     width: 80%;
      }
      table.hiring, table.hiring th, table.hiring td {
	     border-collapse: collapse;
	     border-color: gray;
	     border: 1px solid;
	     padding: 10px;
      }
      table.hiring th {
	     background-color: #F4F5F7;
      }
      table.hiring td {
	     vertical-align: top;
      }
      .area {
      }
      .description {
	     width: 500px
      }
      .country {
      }
      .manager {
      }
      .req {
      }
      .status {
	     width: 400px;
      }
    </style>
{{#online}}
  </head>

  <body>

    <script>
      const urlParams = new URLSearchParams(window.location.search);

      var style = document.createElement('style');
      style.type = 'text/css';
      if ("true" === urlParams.get("internal")) {
	  style.innerHTML = '.internal { background-color: yellow; }';
      } else {
	  style.innerHTML = '.internal { display:none; }';
      }
      document.getElementsByTagName('head')[0].appendChild(style);
    </script>
{{/online}}

   <table class="hiring">
      <tr>
    	<th class="area">Area</th>
	    <th class="description">Description</th>
    	<th class="country">Country</th>
	    <th class="manager">Hiring Manager</th>
    	<th class="req">Level - Job Req</th>
	    <th class="status internal">Status</th>
      </tr>

      {{#areas}}
         {{#countries}}
      <tr>
            {{#first}}
        <td rowspan={{count}} {{^areaHasOpenReqs}}class="internal"{{/areaHasOpenReqs}}>{{name}}</td>
        <td rowspan={{count}} {{^areaHasOpenReqs}}class="internal"{{/areaHasOpenReqs}}>{{description}}</td>
            {{/first}}
        <td {{^hasOpenReqs}}class="internal"{{/hasOpenReqs}}>{{country}}</td>
        <td {{^hasOpenReqs}}class="internal"{{/hasOpenReqs}}>
            {{#manager.url}}<a href="{{.}}">{{/manager.url}}{{manager.name}}{{#manager.url}}</a>{{/manager.url}}
        </td>
        <td {{^hasOpenReqs}}class="internal"{{/hasOpenReqs}}>
            {{#jobreqs}}
            {{^open}}<span class="internal">{{/open}}{{#closed}}<del>{{/closed}}
                <a href="{{reqUrl}}">{{level}} - {{reqno}}</a>
            {{#closed}}</del>{{/closed}}{{^last}}<br>{{/last}}{{^open}}</span>{{/open}}
            {{/jobreqs}}
        </td>
        <td class="internal">
            {{#jobreqs}}{{reqno}} ({{status}}) - {{{notes}}}{{^last}}<br>{{/last}}{{/jobreqs}}
        </td>
      </tr>
        {{/countries}}
      {{/areas}}

    </table> 
   
{{#online}}
  </body>
</html>
{{/online}}
