ocaj-split-button:not(.oj-complete) {
	visibility: hidden;
}

.ocaj-split-button-drop-down {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: 0px !important;
    margin-left: 0px !important;
}

.ocaj-split-button-drop-down .oj-button-text {
    padding: 0 0.5rem;
}

.ocaj-split-button.ocaj-split-button-remove-border-radius {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-right: 0px !important;
}

.ocaj-split-button-popup .oj-popup-content {
	padding: 0.5rem;
}

.ocaj-split-button-clickable {
	cursor: pointer;
    padding: 0.5rem;
}