fnd-card .ocaj-card-flipContainer{
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  border: 1px solid #ccc;
}

fnd-card ocaj-card-flipContainer:focus{
  outline: none;  
} 

fnd-card .ocaj-card-flipContainer.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

fnd-card .ocaj-card-flipContainer.flipped .ocaj-card-back-side {
  /* IE11 workaround to show back side */
  z-index: 0;
  -ms-transform: rotateY(360deg);
}

fnd-card .ocaj-card-front-side, .ocaj-card-back-side {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
}

fnd-card .ocaj-card-front-side {
  text-align: left;
  transform: rotateY(0deg);
}

fnd-card .ocaj-card-back-side {  
  -webkit-transform: rotateY(180deg) translateZ(1px);
  -moz-transform: rotateY(180deg) translateZ(1px);
  transform: rotateY(180deg) translateZ(1px);
  z-index: -1;
}

fnd-card .ocaj-card-inner-back-side {
  /* IE11 workaround to show back side */
  -ms-transform: rotateY(180deg);
}

fnd-card .ocaj-card-box-lightgrey{
   background-color: #f4f4f4;
   border: 1px solid #d1d1d1;
   color: #333333;
}

fnd-card .ocaj-card-box-lightgrey .text-normal-1{
    color: #333333;
}

fnd-card .ocaj-card-box-lightgrey .text-normal-2{
    color: #505050;
}

fnd-card .ocaj-card-box-lightgrey .linkColor{
    color: #145c9e;
}

fnd-card .ocaj-card-box-lightgrey .ocaj-card-content-style{
    background-color: #FFFFFF;
}

fnd-card .ocaj-card-box-lightgrey .ocaj-flip-icon{
    position: absolute;
    text-align: end;
    bottom: 5px;
    right: 8px;
    cursor: pointer;
}

fnd-card .ocaj-card-box-lightgrey .ocaj-flip-icon-background{
    background-image: url(images/func_cardfliplight_28_ena.png);
    width: 28px;
    height: 28px;
}

fnd-card .ocaj-card-box-lightgrey .ocaj-flip-icon-background:hover{
    background-image: url(images/func_cardfliplight_28_hov.png);
    width: 28px;
    height: 28px;
}

fnd-card .ocaj-card-box-lightgrey .ocaj-back-flip-icon-background{
    background-image: url(images/func_cardflipbacklight_28_ena.png);
    width: 28px;
    height: 28px;
}

fnd-card .ocaj-card-box-lightgrey .ocaj-back-flip-icon-background:hover{
    background-image: url(images/func_cardflipbacklight_28_hov.png);
    width: 28px;
    height: 28px;
}

fnd-card .ocaj-card-box-darkgrey{
    background-color: #333333;
    color: #FFFFFF;
}

fnd-card .ocaj-card-box-darkgrey .text-normal-1{
    color: #FFFFFF;
}

fnd-card .ocaj-card-box-darkgrey .text-normal-2{
    color: #FFFFFF;
}

fnd-card .ocaj-card-box-darkgrey .linkColor{
    color: #96c0ff;
}

fnd-card .ocaj-card-box-darkgrey .ocaj-card-content-style{
    background-color: #4d4d4d;
}

fnd-card .ocaj-card-box-darkgrey .ocaj-flip-icon{
    position: absolute;
    text-align: end;
    bottom: -1px;
    right: -1px;
    cursor: pointer;
}

fnd-card .ocaj-card-box-darkgrey .ocaj-flip-icon-background{
    background-image: url(images/func_cardflipdark_28_ena.png);
    width: 28px;
    height: 28px;
}

fnd-card .ocaj-card-box-darkgrey .ocaj-flip-icon-background:hover{
    background-image: url(images/func_cardflipdark_28_hov.png);
    width: 28px;
    height: 28px;
}

fnd-card .ocaj-card-box-darkgrey .ocaj-back-flip-icon-background{
    background-image: url(images/func_cardflipbackdark_28_ena.png);
    width: 28px;
    height: 28px;
}

fnd-card .ocaj-card-box-darkgrey .ocaj-back-flip-icon-background:hover{
    background-image: url(images/func_cardflipbackdark_28_hov.png);
    width: 28px;
    height: 28px;
}

fnd-card .whiteBackground{
    background-color: #FFFFFF;
}

fnd-card .grayBackground{
    background-color: #f4f4f4;
}

fnd-card .blackBackground{
    background-color: #333333;
}

fnd-card .ocaj-card-content-padding{
    padding: 10px 5px 10px 10px;
}

fnd-card .bold{
    font-weight: bold;
}

fnd-card .text-normal-2{
    color: #505050;
}

fnd-card .largeText{
    font-size: 16px;
}

fnd-card .smallText{
    font-size: 13px;
}

fnd-card .cl-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: block;
}

/*Scrollbar on hover */
fnd-card .hidden-scrollbar{
   overflow: hidden !important;
   min-height: 0px !important;
}

fnd-card .hidden-scrollbar:hover {
   overflow-y: auto !important;
}

fnd-card .hidden-scrollbar p {
   padding-right: 16px !important;
}

fnd-card .hidden-scrollbar:hover p {
   padding-right: 0px !important;
}


