#ocajNavigator body {
    overflow: hidden;
}
#ocajNavigator .oj-panel-alt5 {
    background-color: transparent;
    border-color: transparent;
}
.oj-popup-content {
    padding: 0px !important;
}
.oj-popup {
    box-shadow: none;
}
#ocajNavigator ::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}
.ocaj-nav-big-view a:visited{
    color: inherit !important;
    border: transparent !important;
}
.ocaj-nav-mobile-view a:visited {
    color: inherit !important;
    border: transparent !important;
}
#ocajNavigator ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
#ocajNavigator ::-webkit-scrollbar-thumb {
    background-color: #7eafce;
    outline: 1px solid #a7dcfc;
}
@media only screen and (min-width: 1024px) {
    .ocaj-nav-navigatorOuterDrawer {
        position: fixed;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 0px;
    }
    html[dir="rtl"] .ocaj-nav-navigatorOuterDrawerRtl {
        position: fixed;
        height: 100%;
        z-index: 10;
        top: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 0px;
    }
}
@media only screen and (max-width: 1023px) {
    .ocaj-nav-navigatorOuterDrawer {
        position: fixed;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0px;
    }
    html[dir="rtl"] .ocaj-nav-navigatorOuterDrawerRtl {
        position: fixed;
        height: 100%;
        z-index: 10;
        top: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0px;
    }
}
html:not([dir="rtl"]) .oj-navigationlist-collapsible ul.oj-navigationlist-has-icons>.oj-navigationlist-item-element>ul,
html:not([dir="rtl"]) .oj-navigationlist-expanded:not(.oj-navigationlist-icon-only).oj-navigationlist-vertical ul.oj-navigationlist-has-icons>.oj-navigationlist-item-element>ul {
    padding-left: calc(1.072rem + 0.714rem + -9px);
    border: 0px;
}
/**
* Navigator - desktop/tablet
*/
.ocaj-nav-close-nav-icon{
     display: block !important;
    text-align: center;
    cursor: pointer;
    background-image: url(images/qual_arrowcurveforward_16.png);
    width: 20px;
    height: 12px;
    background-repeat: no-repeat;
    margin: 15px auto;
    display: inherit;
}
.ocaj-nav-close-nav-icon-flip{
    display: block !important;
    text-align: center;
    cursor: pointer;
    background-image: url(images/ugh_navigator_ena.png);
    width: 31px;
    height: 29px;
    background-repeat: no-repeat;
    margin: 15px auto;
    display: inherit;
    transition: all ease-in 0.3s;
}
.ocaj-nav-moc-category-container {
    width: 100px;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 50;
    font-weight: 500;
}
.ocaj-nav-theme-grey .ocaj-nav-moc-category-container-theme {
    background-color: #8cd5ff;
    color: #283438 !important;
}
.ocaj-nav-theme-dark .ocaj-nav-moc-category-container-theme {
    background-color: #101012;
    color: white !important;
}
.ocaj-nav-moc-outer-container {
    padding: 0;
    height: 100%;
    vertical-align: top;
    overflow: auto;
    position: static;
    margin-left: 99px;
    z-index: 20;
    font-weight: 500;
    transition: all ease-in 0.3s;
}
.ocaj-nav-theme-grey .ocaj-nav-moc-outer-container-theme {
    background-color: #a7dcfc;
    color: #283438 !important;
}
.ocaj-nav-theme-dark .ocaj-nav-moc-outer-container-theme {
    background-color: #222226;
}
.ocaj-nav-grid-label {
    padding: 5px 18px;
    font-weight: bold;
    text-decoration: none !important;
}
.ocaj-nav-pointer {
    cursor: pointer;
}
.ocaj-nav-theme-grey .ocaj-nav-grid-label {
    color: black;
}
.ocaj-nav-theme-dark .ocaj-nav-grid-label {
    color: #a2a2a6;
}
.ocaj-nav-moc-outer-item {
    margin-left: -1px;
}
.ocaj-nav-list-atag{
    color: inherit !important;
    display: block;
    padding: 15px 0px 15px 15px;
    cursor: pointer;
    outline: transparent;
}
.ocaj-nav-grid-div{
    margin-left: 300px;
    overflow-x: auto;  
}
.ocaj-nav-gridview .ocaj-nav-moc-outer-item {
    margin-left: -1px;
}
.ocaj-nav-gridview .ocaj-nav-grid-moc-grpitem-atag {
    padding: 5px 15px;
    cursor: pointer;
    display: block;
    color: inherit;
}
.ocaj-nav-theme-grey .ocaj-nav-moc-outer-item.ocaj-nav-moc-category-selected {
    background-color: #3a4a4f;
    color: #e0ffff;
}
.ocaj-nav-theme-dark .ocaj-nav-moc-outer-item.ocaj-nav-moc-category-selected {
    border-left: 6px solid #690000;
    background-color: rgba(0, 0, 0, 0.2);
}
.ocaj-nav-theme-grey .ocaj-nav-grid-label.ocaj-nav-moc-category-selected {
    background-color: #3a4a4f;
    color: #e0ffff;
}
.ocaj-nav-theme-dark .ocaj-nav-grid-label.ocaj-nav-moc-category-selected {
    border-left: 6px solid #690000;
    background-color: rgba(0, 0, 0, 0.2);
}
.ocaj-nav-theme-grey .ocaj-nav-moc-outer-item:hover {
    background-color: rgba(58, 74, 79, 0.79);
    color: #e0ffff;
}
.ocaj-nav-theme-dark .ocaj-nav-moc-outer-item:hover {
    background-color: #690000;
}
.ocaj-nav-theme-grey .ocaj-nav-moc-category-item.selected {
    background-color: #3a4a4f;
    color: #e0ffff;
}
.ocaj-nav-theme-dark .ocaj-nav-moc-category-item.selected {
    background-color: #690000;
    color: white;
}
.ocaj-nav-theme-grey .ocaj-nav-moc-category-item:hover {
    background-color: rgba(58, 74, 79, 0.79);
    color: #e0ffff;
}
.ocaj-nav-theme-dark .ocaj-nav-moc-category-item:hover {
    background-color: #690000;
}
.ocaj-nav-moc-outer-container .ocaj-nav-listview {
    width: 298px;
}
.nav_marginleft_offcanvas{
    margin-left: -200px;
    float: left;
    overflow-y: hidden;
}
.ocaj-nav-childitem-mrgnleft{
    margin-left: -300px !important;
}
.ocaj-nav-list-text{
    width: 230px;
}
.ocaj-nav-moc-category-list {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}
.ocaj-nav-moc-category-item {
    padding: 0 8px;
    cursor: pointer;
}
.ocaj-nav-moc-category-icon {
    margin: 0 auto;
    position: relative;
    top: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.ocaj-nav-moc-category-text,
.ocaj-nav-moc-category-text:hover {
    padding: 32px 0 16px 0;
    text-decoration: none;
}
.ocaj-nav-moc-outer-container {} .ocaj-nav-moc-outer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav-popup-theme{
    background-color: #c0e4fa !important;
    color: #2b373b;
}
.ocaj-nav-moc-outer-subitem {
/*    padding: 15px;*/
    margin-left: -1px;
    font-weight: 500;
}
.ocaj-nav-moc-suitem-atag{
    padding: 15px;
    display: block;
    color: inherit;
    cursor: pointer;
}
.ocaj-nav-grid-ul .ocaj-nav-moc-subitem-selected {
    background-color: #3a4a4f;
    color: #e0ffff;
}
.ocaj-nav-moc-outer-subitem.ocaj-nav-moc-subitem-selected {
    background-color: #3a4a4f;
    color: #e0ffff;
}
 
.ocaj-nav-moc-outer-subitem:hover {
    background-color: rgba(58, 74, 79, 0.79);
    color: #e0ffff;
}
.ocaj-nav-moc-outer-icon {
    width: 16px;
    height: 16px;
    float: right;
    margin: 5px 0;
}
.ocaj-nav-theme-grey .ocaj-nav-moc-outer-icon {
    background-image: url("images/func_arrowmoveright_16_ena.png");
    background-repeat: no-repeat;
    background-position: right 6px center;
}
.ocaj-nav-theme-grey .ocaj-nav-moc-outer-item:hover .ocaj-nav-moc-outer-icon {
    background-image: url(images/func_arrowmoveright_16_onb.png);
    background-repeat: no-repeat;
    background-position: right 6px center;
}
.ocaj-nav-theme-grey .ocaj-nav-moc-outer-item.ocaj-nav-moc-category-selected .ocaj-nav-moc-outer-icon {
    background-image: url(images/func_arrowmoveright_16_onb.png);
    background-repeat: no-repeat;
    background-position: right 6px center;
}
.ocaj-nav-moc-home {
    background-image: url("images/ugh_home_ovr.png");
} 
.ocaj-nav-moc-recent {
    background-image: url("images/func_arrowcurveback_16_onb.png");
}
.ocaj-nav-moc-favorites {
    background-image: url("images/func_starred_16_onb.png");
}
.ocaj-nav-moc-navigator {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: url("images/grid_light_compass.png");
}
.ocaj-nav-samelineelement {
    display: inline-block;
}
fnd-navigator ul {
    padding-left: 13px;
}
.ocaj-nav-subitems-icons{
    float: left; 
    background-image: url("../../../css/images/qual_signpost_16.png");
    width: 16px;
    height: 16px;
}
.ocaj-nav-moc-subitem-selected .ocaj-nav-subitems-icons{
    float: left; 
    background-image: url("../../../css/images/grid_light_signpost.png");
    width: 16px;
    height: 16px;
}
.ocaj-nav-subitems-text{
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    padding-left: 8px;
    margin-top: -3px;
    width: 160px;
}
.ocaj-nav-thirdlevel{
    width: 250px; 
    height: 99.8vh;
    overflow-x:hidden;
    float: left;
    display:none;
    z-index: -6;
    margin-left: -300px;
    position: relative;
}
 
 
/**
* Navigator - mobile
*/
 
.ocaj-nav-side-panel-container {
    height: inherit;
    overflow: auto;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-container-theme {
    background-color: #8cd5ff;
    color: #334045;
}
.ocaj-nav-theme-dark .ocaj-nav-side-panel-container-theme {
    background-color: #101012;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-textcol{
    color: #334045;
}
.ocaj-nav-theme-dark .ocaj-nav-side-panel-textcol{
    color: white;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-textcol.selected {
    background-color: #3a4a4f;
    color: #e0ffff;
}
.ocaj-nav-theme-dark .ocaj-nav-side-panel-textcol.selected {
    background-color: #690000;
}
.ocaj-nav-side-panel-sub .ocaj-nav-side-panel-nav-li-atag {
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-sub-theme {
    background-color: #a7dcfc;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-sub-theme.selected {
    background-color: #3a4a4f !important;
    color: #e0ffff !important;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-top.selected {
    background-color: #3a4a4f !important;
    color: #e0ffff !important;
}
 
.ocaj-nav-theme-dark .ocaj-nav-side-panel-sub-theme {
    background-color: #222226;
}
.ocaj-nav-side-panel-header {
    padding-top: 20px;
}
.ocaj-nav-side-panel-profile {
    border-radius: 50%;
    border: 8px solid #fc3;
    background-image: url("images/4.png");
    background-position: center;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.ocaj-nav-side-panel-name {
    text-align: center;
    color: #253033;
    padding-top: 1em;
    font-weight: 500;
}
.ocaj-nav-side-panel-status {
    text-align: center;
    color: #5f6365;
    padding-top: 0.25em;
}
.ocaj-nav-side-panel-nav ul {
    padding-left: 0;
}
.ocaj-nav-side-panel-nav li {
    list-style-type: none;
    font-weight: 500;
    outline: transparent;
}
.ocaj-nav-side-panel-nav-li-atag{
    padding: 0.8em 0 0.8em 1em;
    cursor: pointer;
    display: flex;
    color: inherit;
    text-decoration: none !important;
    outline: transparent;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-nav li:hover {
    background-color: rgba(58, 74, 79, 0.79);
    color: #e0ffff;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-nav li.selected{
    background-color: #3a4a4f;
    color: #e0ffff !important;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-nav-li-atag.selected{
    background-color: #3a4a4f;
    color: #e0ffff !important;
}
.ocaj-nav-theme-dark .ocaj-nav-side-panel-nav li:hover {
    background-color: #690000;
}
.ocaj-nav-side-panel-nav .oj-button-icon {
    vertical-align: middle;
}
.ocaj-nav-side-panel-link {
    padding-left: 0.5em;
    text-overflow: ellipsis;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    float: left;
    margin: 5px 0;
}
.ocaj-nav-side-panel-nav li.ocaj-nav-side-panel-sub .ocaj-nav-side-panel-nav-li-atag{
    padding-left: 2em;
}
.ocaj-nav-side-panel-divider {
    border-bottom: 1px solid #999;
    padding: 0;
}
.ocaj-nav-side-panel-sub.ocaj-nav-side-panel-hidden .ocaj-nav-side-panel-nav-li-atag{
    padding: 0;
}
.ocaj-nav-side-panel-sub .ocaj-nav-side-panel-nav-li-atag .ocaj-nav-side-panel-link.ocaj-nav-side-panel-hidden {
    display: none;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-nav li:hover .ocaj-nav-side-panel-arrow.ocaj-nav-side-panel-hidden:before {
     content: url('images/func_arrowmoveup_16_onb.png');
    width: 16px;
    height: 16px;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-nav li:hover .ocaj-nav-side-panel-arrow:before {
     content: url('images/func_arrowmovedown_16_onb.png');
    width: 16px;
    height: 16px;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-nav-li-atag.selected .ocaj-nav-side-panel-arrow.ocaj-nav-side-panel-hidden:before {
     content: url('images/func_arrowmoveup_16_onb.png');
    width: 16px;
    height: 16px;
}
.ocaj-nav-theme-grey .ocaj-nav-side-panel-nav-li-atag.selected .ocaj-nav-side-panel-arrow:before {
     content: url('images/func_arrowmovedown_16_onb.png');
    width: 16px;
    height: 16px;
}
.ocaj-nav-side-panel-arrow.ocaj-nav-side-panel-hidden:before {
    content: url('images/func_caretup_24_ena.png');
    width: 16px;
    height: 16px;
}
.ocaj-nav-side-panel-arrow:before {
    content: url('images/func_caretdown_24_ena.png');
    width: 16px;
    height: 16px;
    
}
.ocaj-nav-side-panel-arrow{
    float: right;
    padding: 5px 5px 5px 8px;
}
.ocaj-nav-buttonset-gridlayout {
    float: right;
    margin: 3px 5px 0px 0px;
}
.ocaj-nav-buttonset-gridviewlayout {
    position: absolute;
    bottom: -2px;
    right: 15px;
}
.ocaj-nav-buttonset-listlayout {
    float: right;
    margin: 3px 5px 0px 0px;
}
.ocaj-nav-buttonset-listviewlayout {
    float: right;
    margin: 3px 5px 0px 0px;
}
.ocaj-nav-mobile-view {
    display: none;
}
.ocaj-nav-big-view {
    display: block;
}
 
.ocaj-nav-grid-ul {
    list-style-type: none;
    top: 0px !important;
    margin: 0px !important;
    position: relative; 
}
.ocaj-nav-icon-ugh-navigator{
    margin:5px 0 0 10px;
    height:25px;
    width:30px; 
    cursor: pointer;
}
.ocaj-nav-icon-ugh-navigator:before {
    content: url(images/ugh_navigator.png);
}
.ocaj-nav-icon-loading{
    margin: 5px 0 0 10px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    background-image: url(images/pull_to_refresh_full.gif);
}

.ocaj-nav-icon-loading-mob{
    margin: 100px 0 0 10px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 80px;
    background-image: url(images/pull_to_refresh_full.gif);
}
@media screen and (max-width: 1023px) {
    .ocaj-nav-mobile-view {
        display: block;
         width: 280px;
    }
    .ocaj-nav-big-view {
        display: none;
    }
    fnd-navigator .smallscreen.inline-block {
        display: inline-block;
    }
}
.ocaj-nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ocaj-nav-ul li {
    padding: 15px;
}
.ocaj-nav-sidepnl-icon {
    display: inline-block;
    top: 3px !important;
}
.ocaj-nav-grid-col-sty {
    -moz-column-count: 6;
    -webkit-column-count: 6;
    column-count: 6;
}
 
/*Scrollbar on hover */
#ocajNavigator .hidden-scrollbar{
   overflow: hidden !important;
   min-height: 0px !important;
}
 
#ocajNavigator .hidden-scrollbar:hover {
   overflow-y: auto !important;
}

@font-face {
    font-family: 'AppFont';
    src: url("fonts/App_iconfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

fnd-navigator .ocaj-nav-icon-font, .ocaj-nav-icon-font-24 {
    font-family: AppFont;
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    font-weight: normal;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

fnd-navigator .ocaj-nav-icon-font:before, .ocaj-nav-icon-font-24:before {
    display: inline-block;
}

fnd-navigator .ocaj-nav-icon-font-24 {
    font-size: 24px;
}

fnd-navigator .ocaj-nav-grid-icon-16:before {
    content: "\e607";
}

fnd-navigator .ocaj-nav-list-icon-16:before {
    content: "\e608"
}


html[dir="rtl"] .ocaj-nav-moc-category-container {
    width: 100px;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 50;
    font-weight: 500;
}

html[dir="rtl"] .nav_marginleft_offcanvas {
/*    margin-right: -500px;*/
    float: right;
    overflow-y: hidden;
    margin-left: 0px;
}
html[dir="rtl"] #ocajNavListDiv {
    margin-right: -200px;
}
html[dir="rtl"] .ocaj-nav-list-atag {
    color: inherit !important;
    display: block;
    padding: 15px 10px 15px 15px;
    cursor: pointer;
    outline: transparent;
}
html[dir="rtl"] .ocaj-nav-moc-outer-icon {
    width: 16px;
    height: 16px;
    float: left;
    margin: 5px 0;
}
html[dir="rtl"] .ocaj-nav-buttonset-listlayout {
    float: left;
    margin: 3px 5px 0px 5px;
}
html[dir="rtl"] #ocajNavPopupSubitem{
    margin-right: -300px;
}  
html[dir="rtl"] .ocaj-nav-thirdlevel {
    width: 250px;
    height: 99.8vh;
    overflow-x: hidden;
    float: right;
    display: none;
    z-index: -6;
    margin-left: 0px;
    position: relative;
}
html[dir="rtl"] .ocaj-nav-grid-div {
    margin-right: 100px;
    overflow-x: auto;
    margin-left: 0px;
}

html[dir="rtl"] .ocaj-nav-buttonset-gridviewlayoutRtl {
    position: absolute;
    bottom: -2px;
    left: 15px;
}
html[dir="rtl"] .ocaj-nav-grid-ul {
    list-style-type: none;
    top: 0px !important;
    margin: 0px !important;
    position: relative;
    padding-right: 13px;
}

html[dir="rtl"] .ocaj-nav-subitems-icons {
    float: right;
    background-image: url(../../../css/images/qual_signpost_16.png);
    width: 16px;
    height: 16px;
    margin-left: 7px;
}
html[dir="rtl"] .ocaj-nav-moc-subitem-selected .ocaj-nav-subitems-icons{
    float: right; 
    background-image: url("../../../css/images/grid_light_signpost.png");
    width: 16px;
    height: 16px;
    margin-left: 7px;
}
html[dir="rtl"] .ocaj-nav-side-panel-nav ul {
    padding-right: 0;
}
html[dir="rtl"] .ocaj-nav-side-panel-arrow{
    float: left;
    padding: 5px 8px 5px 5px;
}
html[dir="rtl"] .ocaj-nav-side-panel-nav li.ocaj-nav-side-panel-sub .ocaj-nav-side-panel-nav-li-atag{
    padding-right: 2em;
}
html[dir="rtl"] .ocaj-nav-side-panel-link {
    padding-right: 0.5em;
    text-overflow: ellipsis;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    float: right;
    margin: 5px 0;
}
html[dir="rtl"] .ocaj-nav-side-panel-nav-li-atag{
    padding: 0.8em 1em 0.8em 0;
    cursor: pointer;
    display: flex;
    color: inherit;
    text-decoration: none !important;
    outline: transparent;
}
.ocaj-nav-cardicon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 15px;
}
svg.ocaj-nav-cardicon:hover{
    box-shadow: none !important;
}
.ocaj-nav-cardicon-top {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 15px;
    margin: 0 5px 0 -7px;
}
svg.ocaj-nav-cardicon-top:hover{
    box-shadow: none !important;
}
.ocaj-nav-side-panel-sub.ocaj-nav-side-panel-sub-theme.ocaj-nav-side-panel-hidden svg{
    display: none;
}
.ocaj-nav-side-panel-sub.ocaj-nav-side-panel-sub-theme.ocaj-nav-side-panel-hidden div.suiicon{
    display: none;
}




/***********/
/* SVG CSS */
/***********/

/* Icon colors */
.ocaj-nav-listview .svg-icon01,
.ocaj-nav-listview .svg-icon02,
.ocaj-nav-listview .svg-icon03,
.ocaj-nav-listview .svg-icon04,
.ocaj-nav-listview .svg-icon05,
.ocaj-nav-listview .svg-icon06,
.ocaj-nav-listview .svg-icon07,
.ocaj-nav-listview .svg-icon08,
.ocaj-nav-listview .svg-icon09,
.ocaj-nav-listview .svg-icon10,
.ocaj-nav-listview .svg-icon11,
.ocaj-nav-listview .svg-icon12,
.ocaj-nav-listview .svg-icon13,
.ocaj-nav-listview .svg-icon14,
.ocaj-nav-listview .svg-icon15,
.ocaj-nav-listview .svg-icon16,
.ocaj-nav-listview .svg-icon17,
.ocaj-nav-listview .svg-icon18,
.ocaj-nav-thirdlevel .svg-icon01,
.ocaj-nav-thirdlevel .svg-icon02,
.ocaj-nav-thirdlevel .svg-icon03,
.ocaj-nav-thirdlevel .svg-icon04,
.ocaj-nav-thirdlevel .svg-icon05,
.ocaj-nav-thirdlevel .svg-icon06,
.ocaj-nav-thirdlevel .svg-icon07,
.ocaj-nav-thirdlevel .svg-icon08,
.ocaj-nav-thirdlevel .svg-icon09,
.ocaj-nav-thirdlevel .svg-icon10,
.ocaj-nav-thirdlevel .svg-icon11,
.ocaj-nav-thirdlevel .svg-icon12,
.ocaj-nav-thirdlevel .svg-icon13,
.ocaj-nav-thirdlevel .svg-icon14,
.ocaj-nav-thirdlevel .svg-icon15,
.ocaj-nav-thirdlevel .svg-icon16,
.ocaj-nav-thirdlevel .svg-icon17,
.ocaj-nav-thirdlevel .svg-icon18{
    fill: #ffffff;
}

/* Icon backgrounds */
.ocaj-nav-listview .svg-bkgd01,
.ocaj-nav-thirdlevel .svg-bkgd01{
    background-color: #309fdb;
}
.ocaj-nav-listview .svg-bkgd02,
.ocaj-nav-thirdlevel .svg-bkgd02{
    background-color: #f8bb48;
}
.ocaj-nav-listview .svg-bkgd03,
.ocaj-nav-thirdlevel .svg-bkgd03{
    background-color: #e85c63;
}
.ocaj-nav-listview .svg-bkgd04,
.ocaj-nav-thirdlevel .svg-bkgd04{
    background-color: #67b460;
}
.ocaj-nav-listview .svg-bkgd05,
.ocaj-nav-thirdlevel .svg-bkgd05{
    background-color: #13b6cf;
}
.ocaj-nav-listview .svg-bkgd06,
.ocaj-nav-thirdlevel .svg-bkgd06{
    background-color: #e85d88;
}
.ocaj-nav-listview .svg-bkgd07,
.ocaj-nav-thirdlevel .svg-bkgd07{
    background-color: #aa529b;
}
.ocaj-nav-listview .svg-bkgd08,
.ocaj-nav-thirdlevel .svg-bkgd08{
    background-color: #5277b8;
}
.ocaj-nav-listview .svg-bkgd09,
.ocaj-nav-thirdlevel .svg-bkgd09{
    background-color: #2db3ac;
}
.ocaj-nav-listview .svg-bkgd10,
.ocaj-nav-thirdlevel .svg-bkgd10{
    background-color: #ed813e;
}
.ocaj-nav-listview .svg-bkgd11,
.ocaj-nav-thirdlevel .svg-bkgd11{
    background-color: #e95a38;
}
.ocaj-nav-listview .svg-bkgd12,
.ocaj-nav-thirdlevel .svg-bkgd12{
    background-color: #c8d657;
}

/* Cluster and Shortcut colors */
fnd-navigator .svg-shortcut,
fnd-navigator .svg-cluster{
    display: none;
}