.ocaj-global-body{
    margin: 0px;
    background-image: var(--WATERMARK_NAME);

}

.ocaj-global-header-item{
    display: inline-block;
    white-space: nowrap;
    padding: 0px 2px;
}

.ocaj-global-header-logo{
    background-image: var(--LOGO_NAME);
    height: 25px;
    width: 200px;
    background-repeat: no-repeat;
    display: block;
    background-position: left center;
}

.ocaj-global-header-avatar-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    background-color: #ffffff;
}


.ocaj-application-container-width {
    width: 744px;
    margin-left: auto;
    margin-right: auto;
}

@media all and (min-width: 1025px) and (max-width: 1279px) {
    .ocaj-application-container-width{
        width: 1000px;
    }

    .ocaj-application-container-size, 
    .ocaj-springboard-strip-mode-size {
        width: 1024px;
    }
}   

/* large display 1280px */
@media all and (min-width: 1280px) and (max-width: 1439px) {
    .ocaj-application-container-width{
        width: 1256px;
    }

    .ocaj-application-container-size, 
    .ocaj-springboard-strip-mode-size {
        width: 1280px;
    }

}   

/* wide display 1440px */
@media all and (min-width: 1440px) and (max-width: 1599px) {
    .ocaj-application-container-width{
        width: 1416px;
    }

    .ocaj-application-container-size, 
    .ocaj-springboard-strip-mode-size {
        width: 1440px;
    }
}   

/* wide display 1600px */
@media all and (min-width: 1600px) and (max-width: 1919px) {
    .ocaj-application-container-width{
        width: 1576px;
    }

    .ocaj-application-container-size, 
    .ocaj-springboard-strip-mode-size {
        width: 1600px;
    }
} 

/* wide display 1920px */
@media all and (min-width: 1920px) and (max-width: 2559px) {
    .ocaj-application-container-width{
        width: 1896px;
    }

    .ocaj-application-container-size, 
    .ocaj-springboard-strip-mode-size {
        width: 1920px;
    }
}   

/* dual monitor 2560px */
@media all and (min-width: 2560px) and (max-width: 3179px) {
    .ocaj-application-container-width{
        width: 2536px;
    }

    .ocaj-application-container-size, 
    .ocaj-springboard-strip-mode-size {
        width: 2560px;
    }
}   

/* dual monitor 3200px */
@media all and (min-width: 3180px) and (max-width: 3799px) {
    .ocaj-application-container-width{
        width: 3156px;
    }

    .ocaj-application-container-size, 
    .ocaj-springboard-strip-mode-size {
        width: 3180px;
    }
}   

/* dual monitor 3800px */
@media all and (min-width: 3800px) {
    .ocaj-application-container-width{
        width: 3776px;
    }

    .ocaj-application-container-size, 
    .ocaj-springboard-strip-mode-size {
        width: 3800px;
    }
}


.demo-ocaj-search-input .oj-inputsearch-choice{
    height: 30px;
    margin-top: -17px;
    background-color: rgba(0,0,0,0.25);
    border: none;
    border-radius: 25px;
    padding: 0px 5px;

}

.demo-ocaj-search-input{
    width: 95px;
}

.demo-ocaj-search-input.oj-focus{
    width: 250px;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
}

.demo-ocaj-search-input .oj-inputsearch-choice .oj-inputsearch-input::-webkit-input-placeholder{
    font-size: 12px;
    color: var(--GLOBAL_REGION_LABEL_COLOR, #333333);
}

.demo-ocaj-search-input .oj-inputsearch-choice .oj-inputsearch-input{
    background-color: rgba(0,0,0,0);
    font-size: 12px;
    margin-top: -2px;
}

.demo-ocaj-search-input .oj-inputsearch-search-icon:before{
    /*    content:  url('../../../images/ugh_search_ena.png');*/
    width: 22px;
    color: var(--GLOBAL_REGION_LABEL_COLOR, #2e444c);
}




.oacj-page-container,
.oj-tabs-panel.oacj-page-container{
    min-height: 670px;
    padding: 0px;
    background-color: #FFFFFF;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}


@media all and (max-height: 899px) {
    .oacj-page-container,
    .oj-tabs-panel.oacj-page-container{
        min-height: 670px;
    }
}

@media all and (min-height: 900px) and (max-height: 1023px) {
    .oacj-page-container,
    .oj-tabs-panel.oacj-page-container{
        min-height: 806px;
    }
}

@media all and (min-height: 1024px) and (max-height: 1159px) {
    .oacj-page-container,
    .oj-tabs-panel.oacj-page-container{
        min-height: 930px;
    }
}

@media all and (min-height: 1160px) {
    .oacj-page-container,
    .oj-tabs-panel.oacj-page-container{
        min-height: 1066px;
    }
}

.ocaj-mobile-agent .oacj-page-container{
    height: 100vh;
    min-height: 100vh;
    border: none;
}


.ocaj-mobile-agent .oj-tabs-panel.oacj-page-container{
    height: calc(100vh - 58px);
    min-height: calc(100vh - 58px);
}

.ocaj-mobile-agent .ocaj-application-container-width{
    width: 100vw;
}

.ocaj-mobile-agent.ocaj-global-body{
    background-image: none; 
}

.ocaj-global-header-item .suiicon{
    width: 32px;
    height: 32px;
    opacity: 1;
}

/***********/
/* SVG CSS */
/***********/

/* Icon colors */
.ocaj-global-header-item .svg-icon01,
.ocaj-global-header-item .svg-icon02,
.ocaj-global-header-item .svg-icon03,
.ocaj-global-header-item .svg-icon04,
.ocaj-global-header-item .svg-icon05,
.ocaj-global-header-item .svg-icon06,
.ocaj-global-header-item .svg-icon07,
.ocaj-global-header-item .svg-icon08,
.ocaj-global-header-item .svg-icon09,
.ocaj-global-header-item .svg-icon10,
.ocaj-global-header-item .svg-icon11,
.ocaj-global-header-item .svg-icon12,
.ocaj-global-header-item .svg-icon13,
.ocaj-global-header-item .svg-icon14,
.ocaj-global-header-item .svg-icon15,
.ocaj-global-header-item .svg-icon16,
.ocaj-global-header-item .svg-icon17,
.ocaj-global-header-item .svg-icon18{
    fill: var(--GLOBAL_REGION_LABEL_COLOR, #2e444c);
}

/* Cluster and Shortcut colors */
.ocaj-global-header-item .svg-cluster, 
.ocaj-global-header-item .svg-shortcut,
.ocaj-global-header-item .svg-bkgd01,
.ocaj-global-header-item .svg-bkgd02,
.ocaj-global-header-item .svg-bkgd03,
.ocaj-global-header-item .svg-bkgd04,
.ocaj-global-header-item .svg-bkgd05,
.ocaj-global-header-item .svg-bkgd06,
.ocaj-global-header-item .svg-bkgd07,
.ocaj-global-header-item .svg-bkgd08,
.ocaj-global-header-item .svg-bkgd09,
.ocaj-global-header-item .svg-bkgd10,
.ocaj-global-header-item .svg-bkgd11,
.ocaj-global-header-item .svg-bkgd12{
    fill: transparent;
    background-color: transparent;
}

.ocaj-global-header-item:hover svg{
    box-shadow: none !important;
}

.navigator .svg-icon08{
    transform: scale(1.5);
}

.navigator .suiicon{
    height: 32px;
    width: 32px;
    fill: var(--GLOBAL_REGION_LABEL_COLOR, #2e444c) !important;
}