fnd-media-card .ocaj-card-flipContainer{
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
}

fnd-media-card ocaj-card-flipContainer:focus{
  outline: none;  
} 

fnd-media-card .ocaj-card-flipContainer.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

fnd-media-card .ocaj-card-flipContainer.flipped .ocaj-card-back-side {
  /* IE11 workaround to show back side */
  z-index: 0;
  -ms-transform: rotateY(360deg);
}

fnd-media-card .ocaj-card-front-side, .ocaj-card-back-side {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     fnd-media-card .ocaj-card-front-side, .ocaj-card-back-side {
         position: relative;
    }
}

fnd-media-card .ocaj-card-front-side {
  text-align: left;
  transform: rotateY(0deg);
}

fnd-media-card .ocaj-card-back-side {  
  -webkit-transform: rotateY(180deg) translateZ(1px);
  -moz-transform: rotateY(180deg) translateZ(1px);
  transform: rotateY(180deg) translateZ(1px);
  z-index: -1;
}

fnd-media-card .ocaj-card-inner-back-side {
  /* IE11 workaround to show back side */
  -ms-transform: rotateY(180deg);
}

fnd-media-card .ocaj-card-box-lightgrey{
   background-color: #f4f4f4;
   border: 1px solid #f4f4f4;
   color: #333333;
}

fnd-media-card .ocaj-card-box-lightgrey .text-normal-1{
    color: #333333;
}

fnd-media-card .ocaj-card-box-lightgrey .text-normal-2{
    color: #505050;
}

fnd-media-card .ocaj-card-box-lightgrey .linkColor{
    color: #145c9e;
}

fnd-media-card .ocaj-card-box-lightgrey .ocaj-card-content-style{
    background-color: #FFFFFF;
}

fnd-media-card .ocaj-card-box-lightgrey .ocaj-flip-icon{
    position: absolute;
    text-align: end;
    bottom: 5px;
    right: 8px;
    cursor: pointer;
}

fnd-media-card .ocaj-card-box-lightgrey .ocaj-flip-icon-background{
    background-image: url(images/func_cardfliplight_28_ena.png);
    width: 28px;
    height: 28px;
}

fnd-media-card .ocaj-card-box-lightgrey .ocaj-flip-icon-background:hover{
    background-image: url(images/func_cardfliplight_28_hov.png);
    width: 28px;
    height: 28px;
}

fnd-media-card .ocaj-card-box-lightgrey .ocaj-back-flip-icon-background{
    background-image: url(images/func_cardflipbacklight_28_ena.png);
    width: 28px;
    height: 28px;
}

fnd-media-card .ocaj-card-box-lightgrey .ocaj-back-flip-icon-background:hover{
    background-image: url(images/func_cardflipbacklight_28_hov.png);
    width: 28px;
    height: 28px;
}

fnd-media-card .ocaj-card-header{
    background-color: #333333;
}

fnd-media-card .ocaj-card-box-darkgrey{
    background-color: #505050;
    color: #FFFFFF;
}

fnd-media-card .ocaj-card-box-darkgrey .text-normal-1{
    color: #FFFFFF;
}

fnd-media-card .ocaj-card-box-darkgrey .text-normal-2{
    color: #FFFFFF;
}
fnd-media-card .subTitle{
    color: #ADADAD;
}

fnd-media-card .oj-link.linkColor{
    color: #96c0ff;
}

fnd-media-card .ocaj-card-box-darkgrey .ocaj-card-content-style{
    background-color: #4d4d4d;
}

fnd-media-card .ocaj-card-box-darkgrey .ocaj-flip-icon{
    position: absolute;
    text-align: end;
    bottom: -1px;
    right: -1px;
    cursor: pointer;
}

fnd-media-card .ocaj-card-box-darkgrey .ocaj-flip-icon-background{
    background-image: url(images/func_cardflipdark_28_ena.png);
    width: 28px;
    height: 28px;
}

fnd-media-card .ocaj-card-box-darkgrey .ocaj-flip-icon-background:hover{
    background-image: url(images/func_cardflipdark_28_hov.png);
    width: 28px;
    height: 28px;
}

fnd-media-card .ocaj-card-box-darkgrey .ocaj-back-flip-icon-background{
    background-image: url(images/func_cardflipbackdark_28_ena.png);
    width: 28px;
    height: 28px;
}

fnd-media-card .ocaj-card-box-darkgrey .ocaj-back-flip-icon-background:hover{
    background-image: url(images/func_cardflipbackdark_28_hov.png);
    width: 28px;
    height: 28px;
}

fnd-media-card .whiteBackground{
    background-color: #FFFFFF;
}

fnd-media-card .grayBackground{
    background-color: #f4f4f4;
}

fnd-media-card .blackBackground{
    background-color: #333333;
}

fnd-media-card .ocaj-card-content-padding{
    padding: 0px 0px 10px 10px;
}

fnd-media-card .bold{
    font-weight: bold;
}

fnd-media-card .text-normal-2{
    color: #505050;
}

fnd-media-card .largeText{
    font-size: 16px;
}

fnd-media-card .smallText{
    font-size: 13px;
}

fnd-media-card .cl-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: block;
}

/*Scrollbar on hover */
fnd-media-card .hidden-scrollbar{
   overflow: hidden !important;
   min-height: 0px !important;
}

fnd-media-card .hidden-scrollbar:hover {
   overflow-y: auto !important;
}

fnd-media-card .hidden-scrollbar p {
   padding-right: 16px !important;
}

fnd-media-card .hidden-scrollbar:hover p {
   padding-right: 0px !important;
}

fnd-media-card .user-image{
    height: 175px;
    min-width: 130px;
    max-width:130px;
}

fnd-media-card .flip-card-actions-menu{
    background-image: url(images/fuse-icon-drop-menu-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px #f4921f solid;
    background-color: #f4921f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 31px;
    height: 15px;
    padding: 0px;
    min-height: 0px;
    box-shadow: 0px 0px 0px 0px;
    position: relative;
    top: -12px;
    left: 3px;
}

fnd-media-card .card-contexual-actions{
    background-image: url(images/func_contextpop_orange_20_ena.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}

/* prevent blue border during list item selection */
fnd-media-card .oj-listview-item.oj-focus-highlight::after, .oj-listview-group-item.oj-focus-highlight::after{
    outline: none;
}

fnd-media-card .cover-photo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 75px;
    min-width: 75px;
    max-width: 75px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 7px;
}


